<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="/home" class="navbar-brand">
          <img src="/public/image/imgshare-logo.png" alt="logo_imgshare" />
        </a>
      </div>
    </nav>

    <div class="container p-4">
      <div class="row">
        <div class="col-md-8">
          <%- body %>
        </div>
        <div class="col-md-4">
          <!-- Stats -->
          <%- include('sidebar/stats') %> 
          <!-- Most Popular -->
          <%- include('sidebar/popular') %> 
          <!-- Latest Comments -->
          <%- include('sidebar/comments') %> 
        </div>
      </div>
    </div>
    <%- include('partials/script') %>
  </body>
</html>
